* {
  box-sizing: border-box;
}

:root {
  --primary: rgba(72, 50, 133);
  --secondary: #497980;
  --tertiary: rgb(192, 246, 253);
  --grey: #333;
  --light-grey:lightgrey;
  font-size: 62.5%;
}

body {
  background: #ededed;
  color: var(--grey);
  margin: 0;
  padding: 10px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 16px;
  flex: 1;
  font-weight: normal;
}

header h1 a {
  text-decoration: none;
}

#high-scores a {
  text-align: left;
  color: var(--primary);
}

.score-list-item {
  font-size: 16px;
  margin-top: 5px;
}

#high-scores {
  list-style:none;
}

#timer {
  text-align: right;
}
/* Main opening screen */
#answers, #instructions {
    text-align: center;
    font-size: 16px;
    padding: 0 70px
}

#start-quiz {
    font-size: 16px;
}

#answers p, #instructions p {
    align-self: center;
}


/* Main during quiz */

#intro-content {
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#answer-list {
    padding-inline-start: 0;
    text-align: left;
}

#answer-list li {
  text-align: left;
  list-style: none;
  width: fit-content;
  /* margin-left: auto;
  margin-right: auto; */


}

.answer-option {
  font-size: 12px;
  width: auto;
  padding: 10px;
  text-align: left;
  margin-top: 5px;
}
#answers{
 text-align: center;
 align-items: center;
}

button {
  background-color: var(--primary);
  color: white;
  align-items: center;
  padding: 0;
  border-radius: 5px;
  padding: 2px 10px;
}

#answer-flag{
  border-top: 2px solid var(--light-grey);
  font-size: 20px;
    font-weight: normal;
    color: var(--grey);
    font-style: italic;
}


#question-text {
    text-align: center;
    padding: 0 70px
}

.form-group{
    padding-top: 10px;
}